@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

.gridjs-wrapper{
    box-shadow: none !important;
    border: none !important;
}

.gridjs-tbody tr:hover {
    background: rgba(106, 140, 253, 0.05) !important;
}

.gradient{
    background: linear-gradient(128.58deg, #0F123F 14.67%, #3A408F 86.8%);
}